log_level: debug
authenticate_service_url: https://deimos.mcrn.solsys.dev
cookie_domain: mcrn.solsys.dev

certificate_file: /etc/letsencrypt/live/deimos.mcrn.solsys.dev/fullchain.pem
certificate_key_file: /etc/letsencrypt/live/deimos.mcrn.solsys.dev/privkey.pem

idp_provider: azure
idp_client_id: {{ lookup('env', 'pomerium_entraid_client_id') | trim }}
idp_client_secret: {{ lookup('env', 'pomerium_entraid_client_secret') | trim }}
idp_provider_url: https://login.microsoftonline.com/0b87a43d-5640-4e22-a2f2-d13394ff6191/v2.0

routes:
  - from: https://belt.mcrn.solsys.dev
    to:
      - https://ceres.belt.solsys.dev:8006
      - https://eros.belt.solsys.dev:8006
      - https://pallas.belt.solsys.dev:8006
    health_checks:
      - timeout: 2s
        interval: 10s
        unhealthy_threshold: 3
        healthy_threshold: 1
        http_health_check:
          path: /

    policy:
      - allow:
          or:
            - claim/roles: "belt.captain"
            - claim/roles: "belt.crew"
            - claim/roles: "belt.passenger"

  - from: ssh://ceres
    to: ssh://ceres.belt.solsys.dev:22
    policy:
      - allow:
          or:
            - claim/roles: "belt.captain"

  - from: ssh://eros
    to: ssh://eros.belt.solsys.dev:22
    policy:
      - allow:
          or:
            - claim/roles: "belt.captain"

  - from: ssh://pallas
    to: ssh://pallas.belt.solsys.dev:22
    policy:
      - allow:
          or:
            - claim/roles: "belt.captain"

  - from: ssh://medina.station.solsys.dev
    to: ssh://medina.station.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"

  - from: ssh://tycho.station.solsys.dev
    to: ssh://tycho.station.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"

  - from: ssh://anderson.station.solsys.dev
    to: ssh://anderson.station.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"

  - from: ssh://enceladus
    to: ssh://enceladus.orbit.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"
            - ssh_username:
                is: "admin"

  - from: ssh://mimas
    to: ssh://mimas.orbit.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"
            - ssh_username:
                is: "admin"

  - from: ssh://rhea
    to: ssh://rhea.orbit.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"
            - ssh_username:
                is: "admin"

  - from: ssh://triton
    to: ssh://triton.orbit.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"
            - ssh_username:
                is: "admin"

  - from: ssh://nereid
    to: ssh://nereid.orbit.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"
            - ssh_username:
                is: "admin"

  - from: ssh://proteus
    to: ssh://proteus.orbit.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"
            - ssh_username:
                is: "admin"

  - from: ssh://iapetus
    to: ssh://iapetus.orbit.solsys.dev:22
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"
            - ssh_username:
                is: "admin"
  
  - from: https://medina.mcrn.solsys.dev
    to: https://medina.station.solsys.dev:443
    tls_skip_verify: true
    policy:
      - allow:
          and:
            - claim/roles: "belt.captain"

ssh_address: 0.0.0.0:2222
ssh_user_ca_key_file: /etc/pomerium/ssh/pomerium_user_ca_key
ssh_host_key_files:
  - /etc/pomerium/ssh/pomerium_ssh_host_ed25519_key
  - /etc/pomerium/ssh/pomerium_ssh_host_rsa_key
  - /etc/pomerium/ssh/pomerium_ssh_host_ecdsa_key

runtime_flags:
  ssh_allow_direct_tcpip: true