10.10.10.11 ceres.belt.solsys.dev
10.10.10.12 eros.belt.solsys.dev
10.10.10.13 pallas.belt.solsys.dev

10.10.10.1  tycho.station.solsys.dev
10.10.10.2  medina.station.solsys.dev
10.10.10.3  anderson.station.solsys.dev

10.10.10.24 iapetus.orbit.solsys.dev
10.10.10.41 enceladus.orbit.solsys.dev
10.10.10.42 mimas.orbit.solsys.dev
10.10.10.43 rhea.orbit.solsys.dev
10.10.10.31 triton.orbit.solsys.dev
10.10.10.32 nereid.orbit.solsys.dev
10.10.10.33 proteus.orbit.solsys.dev
10.10.10.34 deimos.orbit.solsys.dev
10.10.10.53 titania.orbit.solsys.dev
10.10.10.54 oberon.orbit.solsys.dev

10.10.40.10 agatha-king.gate.solsys.dev
10.10.40.10 argocd.app.solsys.dev

192.168.101.12 plex.topadata.ch
192.168.101.12 nextcloud.topadata.ch
192.168.101.12 reverse.topadata.ch