global
    log /dev/log local0
    maxconn 4096

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_in
    bind {{ vrrp_ip }}:80
    default_backend rke2_ingress

frontend https_in
    bind {{ vrrp_ip }}:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend deimos_mcrn if { req.ssl_sni -i belt.mcrn.solsys.dev }
    use_backend deimos_mcrn if { req.ssl_sni -i deimos.mcrn.solsys.dev }
    default_backend rke2_ingress_tls

backend deimos_mcrn
    mode tcp
    server deimos 10.10.40.14:443 check

backend rke2_ingress
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-499
{% for node in groups['rke2_nodes'] %}
    server {{ node }} {{ hostvars[node]['rke2_dmz_ingress_ip'] }}:80 check
{% endfor %}

backend rke2_ingress_tls
    mode tcp
    balance roundrobin
{% for node in groups['rke2_nodes'] %}
    server {{ node }} {{ hostvars[node]['rke2_dmz_ingress_ip'] }}:443 check
{% endfor %}