token: {{ hostvars[groups['rke2_nodes'][0]]['rke2_cluster_token'] }}
server: https://{{ hostvars[groups['rke2_nodes'][0]]['rke2_node_ip'] }}:9345
node-ip: {{ rke2_node_ip }}
node-external-ip: {{ rke2_dmz_ingress_ip }}
tls-san:
  - {{ inventory_hostname }}.orbit.solsys.dev
  - {{ ansible_host }}
  - rke2-api.solsys.dev
cni:
  - multus
  - canal
enable-servicelb: true
write-kubeconfig-mode: "0644"
profile: "cis"
pod-security-admission-config-file: /etc/rancher/rke2/psa-config.yaml