apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: storage-network
  namespace: longhorn-system
spec:
  config: '{
    "cniVersion": "0.3.1",
    "type": "macvlan",
    "master": "eth2",
    "mode": "bridge",
    "ipam": {
      "type": "whereabouts",
      "range": "10.10.30.0/24",
      "exclude": ["10.10.30.1/32", "10.10.30.41/32", "10.10.30.42/32", "10.10.30.43/32"]
    }
  }'