apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-general
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Retain
volumeBindingMode: Immediate
parameters:
  numberOfReplicas: "3"
  diskSelector: "general"
  staleReplicaTimeout: "30"
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-fast
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Retain
volumeBindingMode: Immediate
parameters:
  numberOfReplicas: "3"
  diskSelector: "fast"
  staleReplicaTimeout: "30"
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-general-single-replica
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate
parameters:
  numberOfReplicas: "1"
  diskSelector: "general"
  staleReplicaTimeout: "30"
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-slow-single-replica
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate
parameters:
  numberOfReplicas: "1"
  diskSelector: "slow"
  staleReplicaTimeout: "30"
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-slow-ha
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Retain
volumeBindingMode: Immediate
parameters:
  numberOfReplicas: "3"
  diskSelector: "slow"
  staleReplicaTimeout: "30"
